body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blanchedalmond;
}

.header {
  text-align: center;
}

.scoreContainer {
  text-align: end;
  padding: 15px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  height: 146px;
  width: 146px;
  margin: 10px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px #b8860b;
}